# build-related stuff
aclocal.m4
.deps/*
autom4te.cache/*
build-aux/*
libtool
m4/*
Makefile
Makefile.in
stamp-h1
config.*
configure

# binaries and other output
min-cloud-agent
min-cloudagent.service
